<% content_for :bg do %>
    <div class="col-md-4 offset-md-4 padding-top-md">
        <div class="bg-grey" id="notesvine-card">
              <div class="row">
        		<div class="col-md-12">
        			<h2>
        			    <div class="font-family-banger">What is Notesvine?</div>
        			</h2>
        			<p style="font-size:1.5em">
        				Tired of writing the same code and configuration for your software projects? Just drag you code to Notesvine! Refer to it anytime you want !
        				Notesvine, built developer, for developers
        			<p>
        				<%= link_to "Signup now »",new_user_registration_path,class:"btn btn-warning"%>
        			</p>
        		</div>
        	</div>
        </div>
    </div>
<% end %>