<div class="row">
	<div class="col-md-8">
		<div class="page-header top-bottom-padding">
			<h1>
				<span class="font-family-banger font-family-banger-spacing-lg">Notesvine</span>
			</h1>
		</div>
	</div>
</div>
<%= render "shared/search"%>
<% if current_user.categories.size > 0%>
	<%= render "shared/notes" %>
<% else %>
	<h4>Starting creating notes today! Click on New category on the sidebar to start! </h4>
<% end %>



    
	