<div class="row">
	<div class="col-md-8">
		<div class="page-header top-bottom-padding">
			<h1>
				<span class="font-family-banger font-family-banger-spacing-lg">Notesvine</span>
			</h1>
		</div>
	</div>
</div>
<%= render "shared/search"%>
<%= render partial:"shared/got_notes",locals:{collections: current_user.categories, new:"Category"}%>



    
	