<div class="row">
  	<div class="root-card">
  		<h3>
  			<%= link_to note.title,note_path(note) %>
  		</h3>
  		<p>
  			<%= truncate(note.description.html_safe,length: 300)%>
  		</p>
  	</div>
  </div>