<div class="row">
  	<div class="root-card">
  		<h3>
  			<%= link_to note.title,note_path(note) %> <span class="badge badge-warning font-size-xs"><%= note.category.name %></span>
  		</h3>
  	</div>
  </div>