<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <div id="signup-email">
          <h1>Thanks for signing up, <%= @user.full_name %>!</h1>
          <p>Thanks for joining and have a great day! Now sign in and stay productive everyday!</p>
      </div>
  </body>
</html>