<div class="row light-background">
	<div class="col-md-12 no-right-padding">
		<ul class="nav">
			<li class="nav-item">
				<%= link_to "Noteapp",root_path,class:"nav-link nav-brand"%>
			</li>
			<li class="nav-item dropdown ml-md-auto">
				 <a class="nav-link dropdown-toggle font-size-sm" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Setting</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
					 <%= link_to "Log out", destroy_user_session_path,method: :delete,class:"dropdown-item"%>
				</div>
			</li>
		</ul>
	</div>
</div>