<div class="row">
	<div class="col-md-8">
			<div class="page-header top-bottom-padding">
				<h1>
					<%= @category.name %> <small>For me,for everyone</small>
				</h1>
			</div>
		</div>
		<div class="col-md-4 flex-display">
			<%= link_to "New notes",new_note_path,class:"btn btn-primary"%>
		</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="card">
			<h5 class="card-header">
				Card title
			</h5>
			<div class="card-body">
				<p class="card-text">
					Card content
				</p>
			</div>
			<div class="card-footer">
				Card footer
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<h5 class="card-header">
				Card title
			</h5>
			<div class="card-body">
				<p class="card-text">
					Card content
				</p>
			</div>
			<div class="card-footer">
				Card footer
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<h5 class="card-header">
				Card title
			</h5>
			<div class="card-body">
				<p class="card-text">
					Card content
				</p>
			</div>
			<div class="card-footer">
				Card footer
			</div>
		</div>
	</div>
</div>
